
/* ==============
  Demo Only
===================*/

.grid-structure {
  .grid-container {
    background-color: #f5f5f5;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
}
.icon-list {
  div {
    cursor: pointer;
    line-height: 40px;
    white-space: nowrap;
  }
  i {
    -webkit-transition: all 0.2s;
    -webkit-transition: font-size .2s;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    text-align: center;
    transition: all 0.2s;
    transition: font-size .2s;
    vertical-align: middle;
    width: 40px;
  }
  .col-xl-3 {
    &:hover {
      i {
        -o-transform: scale(2);
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        transform: scale(2);
      }
    }
  }
}