

/* ==============
  Maintenance
===================*/


.icon-main {
  font-size: 88px;
  margin-bottom: 50px;
}

.maintenance-page {
  margin: 10% 0%;
}

.mainten-box {
  margin-bottom: 30px;
  .text-m-mode {
    margin: 0px auto;
    width: 80%;
  }
}

.media-main {
  a.pull-left {
    width: 100px;
  }
  .info {
    color: #000000;
    overflow: hidden;
    h4 {
      margin-bottom: 5px;
      padding-top: 10px;
    }
  }
}